<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CryptoWallets</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
    </nav>

    <div class="mt-3">
        <ul class="bg-dark w-75 m-auto list-group">
            <li class="list-group-item">
                <p class="text-info fw-bold">
                    <i class="fa-brands fa-ethereum mx-1"></i>
                    Ethereum<span class="position-absolute end-0">- xx %</span>
                </p>
            </li>
            <li class="list-group-item">
                <p class="text-info fw-bold">
                    <i class="fa-brands fa-bitcoin mx-1"></i>
                    Bitcoin<span class="position-absolute end-0">- xx %</span>
                </p>
            </li>
            <li class="list-group-item">
                <p class="text-info fw-bold">
                    <i class="fa-solid fa-usd mx-1"></i>
                    Usdt<span class="position-absolute end-0">- xx %</span>
                </p>
            </li>
        </ul>
    </div>

</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
