@page "/Wallet"
<h3 style="text-align:center;">Wallet</h3>


	<div class="cont">
		<div class="d-flex flex-row pt-5 px-3">
			<i class="fa-solid fa-user logo"></i>
		</div>

		<div class="d-flex flex-column rounded-border grey-color py-4 px-3">
			<span class="acount-label">Account #1</span>
			<span class="balance">$18,345</span>
		</div>

		<div class="d-flex flex-row menu justify-content-between px-5 py-3">			
			<i class="fa-solid fa-credit-card "></i>
			<i class="fa-solid fa-paper-plane "></i>
			<i class="fa-solid fa-retweet"></i>
		</div>

		<div>
			<span>
				<img src="https://s2.coinmarketcap.com/static/img/coins/64x64/1027.png" height="24" width="24" alt="ETH">
				<b>Ethereum</b>
			</span>
			<br />
			<span>
				<img src="https://s2.coinmarketcap.com/static/img/coins/64x64/1.png" height="24" width="24" alt="BTC">
				<b>Bitcoin</b>
			</span>
			<br />
			<span>
				<img src="https://s2.coinmarketcap.com/static/img/coins/64x64/825.png" height="24" width="24" alt="USDT">
				<b>Tether</b>
			</span>
		</div>
	</div>

@code {

}
