@page "/Wallet"
<h3 style="text-align:center;">Wallet</h3>


	<div class="cont">
		<div class="d-flex flex-row pt-5 px-3">
			<i class="fa-solid fa-user logo"></i>
		</div>

		<div class="d-flex flex-column rounded-border grey-color py-4 px-3">
			<span class="acount-label">Account #1</span>
			<span class="balance">$18,345</span>
		</div>

		<div class="d-flex flex-row menu justify-content-between px-5 py-3">			
			<i class="fa-solid fa-credit-card "></i>
			<i class="fa-solid fa-paper-plane "></i>
			<i class="fa-solid fa-retweet"></i>
		</div>

		<div>
			<div class="pb-20">
				<div class="mt-20">
					<div class="w-full mb-12 ml-12 text-16 leading-20 font-bold">
						<span class="letra">
							<b>Tokens</b>
						</span>
					</div>
					<div class="flex flex-col items-center">
						<div class="cursor-pointer w-full">
							<div class="w-full flex items-center rounded-8 mb-8 py-16 px-20">
								<div class="mr-16">
									<img src="https://s2.coinmarketcap.com/static/img/coins/64x64/1027.png" height="24" width="24" alt="ETH">
								</div>
								<div class="w-full">
									<div class="inline-flex flex-col">
										<span class="letra">0 WETH</span>
										<span class="letra">0 usd</span>
									</div>
								</div>
							</div>
						</div>
						<div class="cursor-pointer w-full">
							<div class="w-full flex items-center rounded-8 mb-8 py-16 px-20">
								<div class="mr-16">
									<img src="https://s2.coinmarketcap.com/static/img/coins/64x64/825.png" height="24" width="24" alt="USDT">
								</div>
								<div class="w-full">
									<div class="inline-flex flex-col">
										<span class="letra">0 USDT</span>
										<span class="letra">0 usd</span>
									</div>
								</div>
							</div>
						</div>
						<div class="cursor-pointer w-full">
							<div class="w-full flex items-center rounded-8 mb-8 py-16 px-20">
								<div class="mr-16">
									<img src="https://s2.coinmarketcap.com/static/img/coins/64x64/1.png" height="24" width="24" alt="BTC">
								</div>
								<div class="w-full">
									<div class="inline-flex flex-col">
										<span class="letra">0 BTC</span>
										<span class="letra">0 usd</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

@code {

}
